*{
	margin: 0;
	padding: 0;
	outline: 0;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	margin-top: 50px;
	float: left;
	width: 160px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.res-tab{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: .7;
	}

table{
	position: absolute;
	z-index: 2;
	left: 505;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 12px 12px 0 0;
	overflow: hidden;

	background: #fafafa;
	text-align: center;
}
th,td{
	padding: 10px 15px;

}
th{ 
	background: #e1bee7;
	color: #fafafa;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;

}
td{
	font-family: 'Open sans',sans-serif
}
tr:nth-child(odd){
	background-color: #e0e0e0;
}
